.card-container {
	display: inline-block;
	box-sizing: border-box;
	width: calc(100% / 4);
	line-height: 1.7;
	aspect-ratio: 1 / 1;
	background-color: rgb(53, 56, 46);
	border: 2px solid rgb(255, 253, 226);
	border-radius: 10px;
	font-size: 3rem;
	text-align: center;
}

.content {
	opacity: 0;
	cursor: pointer;
}

.content:not(.flipped) {
	transition: opacity ease-in-out 0.7s;
}

.flipped {
	pointer-events: none;
	cursor: none;
	opacity: 1;
}

.matched {
	background-color: rgba(152, 211, 235, 0.719);
	pointer-events: none;
	transition: background-color ease-in-out 0.7s;
}

.unabled {
	pointer-events: none;
}
